<div class="row">
    <div class="col-md-10">
        <h2><i class="fa fa-archive"></i> Estoque</h2>
    </div>
    <div class="col-md-2">
        <a href="" class="justify-content-end"><i class="fa fa-plus"></i> Novo Item</a>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="1">Id</th>
                <th scope="col" colspan="2">Nome</th>
                <th scope="col" colspan="3">Descrição</th>
                <th scope="col" colspan="1">Categoria</th>
                <th scope="col" colspan="1">Quantidade</th>
                <th scope="col" colspan="1">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td colspan="2">Raspberry</td>
                <td colspan="3">Pequeno Computador</td>
                <td colspan="1">Hardware</td>
                <td colspan="1">10</td>
                <td colspan="1">
                    
                    <button type="button" class="btn btn-link"><a href="" class="justify-content-end"><i
                                class="fa fa-eye"> </i></a></button>
                    <button type="button" class="btn btn-link"><a href="" class="justify-content-end"><i
                                class="fa fa-pencil"> </i></a> </button>
                    <button type="button" class="btn btn-link"><a href="" class="justify-content-end"><i
                                class="fa fa-trash"> </i></a></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>