<div class="container">
    <h2>Cadastro de novo item:</h2>
    <br>
    <form action="">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nome do item</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Quantidade</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" value="0" disabled="True">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrição</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Imagem</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary my-1">Cadastrar</button>
        <button type="submit" class="btn btn-secondary my-1">Cancelar</button>
    </form>
</div>